

 h1.a{
    color: #000000;
    
 }

 h2.b {
    color: #000000;
    font-family: "Arial";
 }

  
  h2{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:blue
  }

  p{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 20px 15px 20px 30px;
   color:whitesmoke;
   font:xx-small;
}
 